/*general styling */
*{
    margin: 0;
    padding: 0;
}


.body{
    padding-left: 50px;
    padding-right: 50px;
    font-family: arial, sans-serif;
    overflow-x: hidden;
    background-image: url("img4.jpg");
    height: 91.7h;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.text-primary{
    color: blue;
}
.h2{
    text-transform: none;
}

/* Nav Bar */
.nav-bar{
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #fff;
    padding: 1.5rem 8rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-item{
    display: flex;
    align-items: center;
    list-style: none;
}

/* navbar h2 a{
    color:
    textdecoration:
}
*/

.nav-item li a{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-size: 1.3rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-bar li a:hover{
    background-color: #fff;
}

/* showcase */

.showcase-content{
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 150px;
    align-self: center;
   
}

.container{
    display: flex;
    margin-left: 15px;
}

.box{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px;
    margin: 50px;
}


.subHead{
    text-align: center;
}

.subPara{
    text-align: left;
}