* {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
}

.logo {
    width: 100px;
    height: 26.37px;
    margin-top: 19px;
    margin-left: 20px;

}

.nav {
    display: inline-block;
    margin-top: 15px;
}

.nav a {
    text-decoration: none;
    padding-right: 20px;
    padding-left: 30px;
}

.box-1 {
    display: flex;
    flex-direction: row;
    margin-top: 139px;
    margin-bottom: 93px;
}

.wrytup-1 {
    width: 50%;
    margin-left: 50px;
    margin-right: 50px;
}

.para-1 {
    margin-bottom: 90px;
}

.hello {
    margin-bottom: 18px;
}

.intro {
    margin-bottom: 31px;
}

.para-2 {
    margin-bottom: 35px;
}

.button-1 {
    width: 91px;
    height: 22px;
    border-radius: 20px;
    background-color: #2F80ED;
    color: white;
}

.photo-1 {
    width: 350px;
    height: 400px;
    margin-right: 24px;
}

.box-2 {
    display: flex;
    flex-direction: row;
}

.wrytup-2 {
    width: 50%;
    margin-right: 371px;
}

.aboutMe {
    text-align: center;
    margin-bottom: 25px;
}

.para-3 {
    margin-bottom: 25px;
}

.para-4 {
    margin-bottom: 45px;
}

.button-2 {
    width: 102px;
    border-radius: 20px;
    margin-bottom: 25px;
    background-color: #2F80ED;
    color: white;
}

.photo-2 {
    width: 350px;
    height: 400px;
    margin-left: 350px;
    margin-right: 50px;
    margin-top: 65px;
}

.expertise {
    text-align: center;
    margin-bottom: 25px;
}

.wrytup-3 {
    display: flex;
    margin-left: 150px;
    margin-bottom: 118px;
}

.port-1 {
    width: 250px;
    height: 250px;
    margin-right: 105px ;
    padding-top: 14px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #c4c4c4;
}

.subHead-1 {
    margin-bottom: 16px;
    background-color: #c4c4c4;
}

.subPara-1 {
    background-color: #c4c4c4;
}

.port-2 {
    width: 250px;
    height: 250px;
    margin-right: 105px ;
    padding-top: 14px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #c4c4c4;
}

.subHead-2 {
    margin-bottom: 16px;
    background-color: #c4c4c4;
}

.subPara-2 {
    background-color: #c4c4c4;
}

.port-3 {
    width: 250px;
    height: 250px;
    margin-right: 105px ;
    padding-top: 14px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #c4c4c4;
}

.subHead-3 {
    margin-bottom: 16px;
    background-color: #c4c4c4;
}

.subPara-3 {
    background-color: #c4c4c4;
}


.contactMe {
    text-align: center;
    margin-bottom: 88px;
}

.subHead-4 {
    text-align: center;
    background-color: #c4c4c4;
    padding-bottom: 10px;
    margin-bottom: 28px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    height: 274px;
    margin-left: 550px;
    background-color: #c4c4c4;
    margin-bottom: 23px;
}

.block {
    margin-bottom: 46px;
    border-bottom: 1px solid grey;
    background-color: #c4c4c4;
}

.button-3 {
    width: 102px;
    height: 25px;
    background-color: #2F80ED;
    color: white;
    border-radius: 20px;
    align-self: center;
    padding top: 11px;
    padding bottom: 10px
}

.socials {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 572px;
}

.twitter {
    margin-right: 14px;
}

.facebook {
    margin-right: 14px;
}

.insta {
    margin-right: 14px;
}

.facebook {
    margin-right: 14px;
}

.insta {
    margin-right: 14px;
}

.github {
    margin-right: 14px;
}

.behance {
    margin-right: 14px;
}

.phoneNo {
    margin-right: 14px;
}

.Linkedin {
    margin-right: 14px;
}

.navBottom {
    padding-right: 14px;
}

.nav-barBottom {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: #2F80ED;
    margin-bottom: 7px;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 563px;
   
}

.nav-barBottom a {
    text-decoration: none;
    background-color:  #2F80ED;
    color: white;
}

.navBottom {
    background-color: #2F80ED;;
}

.copyright {
    background-color: #2F80ED;
    text-align: center;
    color: white;
    padding-top: 43px;
    padding-bottom: 14px;
}


